<nav class="grey darken-3">
    <div class="container">
        <div class="nav-wrapper">
            <a href="{{#if user}} /dashboard {{else}} / {{/if}}" class="brand-logo">StoryBooks</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="fa fa-bars"></i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{#if user}}
                    <li><a href="/dashboard">Welcome {{ user.name }}</a></li>
                    <li><a href="/stories/my">My Stories</a></li>
                    <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                    {{else}}
                    <li><a href="/auth/google"><i class="fa fa-google-plus"></i> Login</a></li>
                    <li><a href="/stories"><i class="fa fa-book"></i> Public Stories</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>